/*<----------------CSS RESET----------------->*/
/*<----------------CSS RESET----------------->*/
/*<----------------CSS RESET----------------->*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*<----------------HEADER----------------->*/
/*<----------------HEADER----------------->*/
/*<----------------HEADER----------------->*/

body{
	width:100%;
	/*border:solid thin blue;*/
}
header{
	width:100%;
	/*border: solid thin red;*/
}

    /*<----------------CAROUSEL----------------->*/

		.carousel{
			position: relative;
			border: solid thin orange;
			background-color: black;
		}

		.carousel figure{
			position: absolute;
		  top: 0;
		  width: 100%;
			border: solid thin green;
			transition: opacity 1.2s;

		}

		.carousel figure:first-child{
		  position: relative;
			z-index:1;
		}

		.carousel figure img{
		  /*opacity: 0;*/
		  transition: opacity 1.2s;
			width:100%;
		}

		/*<------------------CIRCLE-STYLES----------------->*/

    .circle_container{
      /*background-color: black;*/
      text-align: center;
			position: relative;
			top:-50px;
			z-index: 2;
    }

    .circle{
      text-align: center;
      display:inline-block;
      width:5px;
      height:5px;
      border-radius:5px;
      border:solid white 2px;
      background-color:white;
			margin-left:2px;
			margin-right:2px;
    }

    .circle:hover{
      background-color: white;
      transition:.2s;
    }

		/*<------------------LOGO-SVG----------------->*/

		.logo{
			width:22%;
			position: absolute;;
			top:22%;
			border:solid thin white;
			z-index: 2;
			margin-left:2%;
		}
		.logo svg{
			width:75%;
			margin-left:5%
		}

		/*<------------------YELLOW-BAR----------------->*/

		.yellow-bar{
			background-color: #F8BD14;
			margin-top: -20px; /*this compensates for the white space left by the absolutely positioned logo*/
		}

		.yellow-left{
			margin-left:3%;
			width:45%;
			border:solid thin black;
		}

		.yellow-plus{
			width:27px;
			margin-top:40%;
			margin-bottom:40%;
			border:solid thin white;
			display: inline-block;
		}

		.yellow-left-sub{
			padding-top:10%;
			padding-bottom:10%;
			padding-left: 10%;
			border:solid thin green;
			display: inline-block;
			width:80%;
		}

		.yellow-bar h1 {
			color:#F1634D;
			font-size: 3em;
		}
