/*<----------------CSS RESET----------------->*/
/*<----------------CSS RESET----------------->*/
/*<----------------CSS RESET----------------->*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*<----------------HEADER----------------->*/
/*<----------------HEADER----------------->*/
/*<----------------HEADER----------------->*/

body{
	width:100%;
	/*border:solid thin blue;*/
}
header{
	width:100%;
	/*border: solid thin red;*/
}

@font-face {
    font-family: "Arno Regular";
    src: url(../type/ArnoPro-Regular.otf) format("opentype");

}

    /*<----------------CAROUSEL----------------->*/

		.carousel{
			position: relative;
			border: solid thin orange;
			background-color: black;
		}

		.carousel figure{
			position: absolute;
		  top: 0;
		  width: 100%;
			border: solid thin green;
			transition: opacity 1.2s;

		}

		.carousel figure:first-child{
		  position: relative;
			z-index:1;
		}

		.carousel figure img{
		  /*opacity: 0;*/
		  transition: opacity 1.2s;
			width:100%;
		}

		/*<------------------CIRCLE-STYLES----------------->*/

    .circle_container{
      /*background-color: black;*/
      text-align: center;
			position: relative;
			top:-50px;
			z-index: 2;
    }

    .circle{
      text-align: center;
      display:inline-block;
      width:5px;
      height:5px;
      border-radius:5px;
      border:solid white 2px;
      background-color:white;
			margin-left:2px;
			margin-right:2px;
    }

    .circle:hover{
      background-color: white;
      transition:.2s;
    }

		/*<------------------LOGO-SVG----------------->*/

		.logo{
			width:22%;
			position: absolute;;
			top:22%;
			/*border:solid thin white;*/
			z-index: 2;
			margin-left:2%;
		}
		.logo svg{
			width:75%;
			margin-left:5%
		}

		/*<------------------YELLOW-BAR----------------->*/

		.yellow-bar{
			background-color: #F8BD14;
			margin-top: -20px; /*this compensates for the white space left by the absolutely positioned logo*/
			padding: 6% 0%;
		}

		.yellow-left{
			margin-left:3%;
			width:45%;
			border:solid thin black;
			position: relative;
			padding:4% 0;
			font-family: "Arno Regular", Georgia, serif;
			display:inline-block;
			vertical-align: top; /*change to middle for smaller size screens*/
		}

		.plus{
			width:5%;
			display: inline-block;
			vertical-align: middle;
			/*border:solid thin red;*/
			margin-right:6%;
		}

		.quote{
			width:72%;
			display: inline-block;
			vertical-align: middle;
			/*border:solid thin white;*/
		}

		.yellow-second-column{
			display: inline-block;
			width:25%;
			border:solid thin green;
			vertical-align: top; /*change to middle for smaller size screens*/
		}

		.the-first-bar{
			width:5px;
			height:30px;
			background-color: #F1634D;
			display:inline-block;
			margin: 0px 6px;
			vertical-align: top;
		}

		.yellow-middle{
			color:white;
			font-family: "Helvetica Neue", "Arial", sans-serif;
			font-size:1.1em;
			line-height: 1.05;
			font-weight:400;
			width:75%;
			padding-left:3%;
			padding-top:5px;
			display:inline-block;
			/*border:solid thin red;*/
		}

		/*<--------------PORTFOLIO-ITEMS------------->*/

		.portfolio-items{
			padding: 0% 2.3%;
			width:95.7%;
			/*border:solid thin red;*/
		}

		.port-sub{
			width:100%;
			/*border:solid thin green;*/
		}

		.port-col{
			width:23.9875%;
			margin-right:1.35%;
			height:900px;
			/*border:solid thin grey;*/
			display: inline-block;
			vertical-align: top;
			/*background-color: lightgrey;*/
		}

		.port-4{
			margin-right:0;
		}

		.port-interior{
			margin-bottom:8px;
		}

		.port-interior img{
			width: 100%;
		}

		.port-interior-caption{
			padding: 24px 0px;
			margin-bottom:15px;
			/*border-bottom:solid thin red;*/
		}

		.port-interior-title{
			font-size:1.6em;
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			color: #323A3D;
		}

		.port-interor-subtitle{
			font-size:1em;
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			color:#99B4BD;
			margin-top:6px;
			/*border:solid thin red;*/
		}
