@media (max-width: 1200px) {

  /*<------MENU-ITEMS----->*/
  .menu-button{
    width:33.25%;
  }

  .menu-bar{
    width:33.25%;
  }

  /*<------MAIN-LOGO----->*/

  .logo{
    width:25%;
    position: absolute;;
    top:25%;
    /*border:solid thin white;*/
    z-index: 2;
    margin-left:3%;
  }

  /*<------YELLOW-ITEMS----->*/

  .column-quote-parent{
    width:31.9%;
    /*border-top:solid thin red;
    border-bottom:solid thin red;*/
  }

  .column-paragraphs-parent{
    /*border-top:solid thin green;
    border-bottom:solid thin green;*/
    width:64.82%;
    /*margin-left:.675%;*/
  }

  .column-p{
    /*background-color:lightgrey;*/
    display:inline-block;
    vertical-align: top;
    width:49.05%;
    margin: 0 .95%;
  }

  .column-1{
    display:none;
  }

  .column-2{
    margin-left:0;
    /*background-color: lightgrey;*/
  }

  .column-3{
    margin-right:0;
    /*background-color:lightgrey;*/
  }

  .plus{
    width:10%;
    display: inline-block;
    /*vertical-align: middle;*/
    /*border:solid thin red;*/
    /*margin-right:6%;*/
    margin-left:0%;
    margin-bottom:5%;
  }

  .quote{
    padding:4% 0;
    width:100%;
    margin-top:0%;
    display: inline-block;
    vertical-align: middle;
    /*border:solid thin white;*/
  }

  .col-quote{
    width:90%;
    margin-left:0%;
    overflow: visible;
    margin-top: 0%;
    /*border:solid thin green;*/
  }

  .the-first-bar{
    right:5.3%;
    /*border:solid thin white;*/
  }

  .container-sub p{
    width:85%;
    /*border:solid thin green;*/
    display:inline-block;
    vertical-align: top;
    margin-left:0px;
  }


  .column{
    width:31.9%;
    /*border-bottom:solid thin red;*/
    /*vertical-align: middle;*/
  }

  /*<--------------FOOTER-SECTION------------->*/

  .footer-col{
    width:31.9%;
    /*margin-right:1.35%;*/
    margin-right:.675%;
    margin-left:.675%;
    /*border-top:solid thin green;*/
    display:inline-block;
    vertical-align: top;
  }

  .footer-col-return{
    display:block;
    margin-bottom:4%;
  }

  .return-to-top{
    /*width:7%;*/
  }

}
