/*<----------------JUMBOTRON----------------->*/

.jumbotron{
  position: static;
  display: block;
  width:100%;
}

.grey{
  background-color: #323A3D;
  /*background-color: hsl(44,92%,97%);*/
  color:white;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  /*font-size:1em;*/
  line-height: 1.15;
  /*font-weight:200;*/
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top:-20;
  /*Must be after the container property because it modifies it's padding for the yellow space*/
}

.the-first-bar-projects{
  width:5px;
  height:30px;
  background-color: #F8BD14;
  display:inline-block;
  vertical-align: top;
  position: relative;
  right:8%;
}

.picture-one{
  width:100%;
  /*border-bottom:solid thin green;*/
  margin:0 auto;
  /*margin-left: .675%;
  margin-right: .675%;*/
  /*margin-bottom:1.35%;*/
}

.picture-one img{
  width:100%;
  margin:0 auto;
}

.two-part-column{
  width:49.3%;
  /*margin:0 .675%;*/
  /*border-bottom:solid thin red;*/
  display:inline-block;
  vertical-align: top;
}

.column-margin-right{
  margin-right:1.35%;
}

.two-part-column img {
  width:100%;
  margin-top: 3%;
}

.info{
  display: inline-block;
  vertical-align: middle;
  /*border:solid thin orange;*/
  width:80%;
}

.info svg{
  width:60%;
  margin-bottom:12%;
  overflow: visible;
  /*border:solid thin red;*/
}

.info-contents{
}

.info-contents-one{
  color:#99B4BD;
  display: inline-block;
  vertical-align: top;
  width:25%;
  margin-bottom:10px;
  /*border:solid thin white;*/
}

.info-contents-two{
  color:white;
  display: inline-block;
  vertical-align: top;
  padding-left:5%;
  width:55%;
  margin-bottom:10px;
  /*border:solid thin white;*/
}

.full-width-image{
  width:100%;
}

.work-in-progress{
  width:30px;
  position:absolute;
  right:2.5%;
  top:0;
  /*border:solid thin green;*/
  z-index: 1;
}

.work-in-progress img{
  width:100%;
}
